{:measured "2026-09-27"
 :postgres-ref "REL_17_7"
 ;; Per-file agreement: the share of PostgreSQL's expected output
 ;; lines that appear, in order, in ours. `bb pg-regress-gate`
 ;; fails when a file drops more than the tolerance below, when an
 ;; exact match is lost, or when a file stops being measurable.
 ;;
 ;; The tolerance is not slack for regressions: a file that is
 ;; mostly cascade realigns by a point or two whenever anything
 ;; ahead of its first divergence changes, in either direction.
 :tolerance 3.0
 :files
 {
  "advisory_lock" 97.1
  "aggregates" 56.7
  "alter_generic" 67.9
  "alter_operator" 67.0
  "alter_table" 67.2
  "arrays" 56.7
  "async" 81.0
  "bit" 100.0
  "boolean" 100.0
  "box" 43.2
  "case" 84.2
  "char" 79.4
  "circle" 33.0
  "collate" 81.4
  "collate.icu.utf8" 63.6
  "collate.linux.utf8" 77.9
  "collate.utf8" 81.3
  "collate.windows.win1252" 80.3
  "comments" 93.8
  "compression_lz4" 59.8
  "compression_pglz" 66.2
  "constraints" 60.5
  "conversion" 57.6
  "copy" 64.9
  "copy2" 50.2
  "copydml" 73.3
  "copyencoding" 82.5
  "copyselect" 59.9
  "create_aggregate" 82.3
  "create_cast" 66.7
  "create_function_sql" 47.7
  "create_index" 50.6
  "create_misc" 38.2
  "create_operator" 80.2
  "create_procedure" 50.8
  "create_property_graph" 36.8
  "create_schema" 51.0
  "create_table" 63.3
  "create_table_like" 40.6
  "create_type" 73.0
  "create_view" 41.5
  "database" 100.0
  "date" 60.9
  "dbsize" 35.5
  "delete" 100.0
  "domain" 63.9
  "drop_if_exists" 70.2
  "drop_operator" 73.8
  "eager_aggregate" 26.1
  "encoding" 65.5
  "enum" 96.4
  "errors" 80.2
  "euc_kr" 68.8
  "explain" 19.9
  "expressions" 76.8
  "fast_default" 71.2
  "float4" 51.9
  "float8" 71.9
  "for_portion_of" 62.4
  "foreign_key" 66.7
  "generated_stored" 44.2
  "generated_virtual" 46.2
  "geometry" 7.8
  "graph_table" 59.6
  "graph_table_rls" 41.3
  "groupingsets" 7.9
  "horology" 19.5
  "identity" 56.5
  "inet" 28.5
  "inherit" 45.5
  "insert" 58.7
  "insert_conflict" 63.2
  "int2" 98.0
  "int4" 95.5
  "int8" 94.1
  "interval" 47.6
  "join" 35.1
  "json" 59.2
  "json_encoding" 62.1
  "jsonb" 68.2
  "jsonb_jsonpath" 25.7
  "jsonpath" 20.5
  "jsonpath_encoding" 34.0
  "largeobject" 43.3
  "limit" 69.1
  "line" 73.0
  "lock" 76.6
  "lseg" 77.6
  "macaddr" 59.7
  "macaddr8" 46.4
  "matview" 45.2
  "md5" 100.0
  "merge" 63.6
  "misc" 52.3
  "misc_functions" 42.3
  "misc_sanity" 78.6
  "money" 95.0
  "multirangetypes" 26.7
  "mvcc" 90.5
  "name" 54.0
  "namespace" 70.7
  "nls" 60.4
  "numa" 61.5
  "numeric" 97.2
  "numeric_big" 98.4
  "numerology" 41.5
  "oid" 96.1
  "oid8" 32.0
  "opr_sanity" 56.5
  "path" 50.5
  "pg_dependencies" 45.6
  "pg_lsn" 31.2
  "pg_ndistinct" 45.9
  "plancache" 67.1
  "planner_est" 59.8
  "point" 21.8
  "polygon" 47.2
  "polymorphism" 54.9
  "portals" 57.5
  "portals_p2" 100.0
  "prepare" 55.8
  "prepared_xacts" 71.6
  "psql" 65.4
  "psql_crosstab" 57.6
  "psql_pipeline" 53.9
  "random" 45.4
  "rangefuncs" 32.1
  "rangetypes" 35.2
  "regex" 56.0
  "regproc" 27.2
  "reindex_catalog" 100.0
  "returning" 44.6
  "rowtypes" 64.3
  "rules" 38.6
  "select" 72.2
  "select_distinct" 71.1
  "select_distinct_on" 72.8
  "select_having" 100.0
  "select_implicit" 99.1
  "select_into" 57.9
  "select_views" 8.9
  "sequence" 76.4
  "sqljson" 40.6
  "sqljson_jsontable" 55.2
  "sqljson_queryfuncs" 41.6
  "stats_import" 64.3
  "stats_rewrite" 58.3
  "strings" 65.9
  "subselect" 47.1
  "sysviews" 37.0
  "tablesample" 64.4
  "temp" 72.9
  "text" 65.2
  "time" 75.9
  "timestamp" 19.0
  "timestamptz" 24.1
  "timetz" 49.2
  "transactions" 89.8
  "triggers" 69.5
  "truncate" 71.6
  "tsdicts" 32.9
  "tsearch" 47.9
  "tsrf" 46.0
  "tstypes" 51.4
  "txid" 28.4
  "type_sanity" 82.1
  "typed_table" 41.4
  "unicode" 28.1
  "union" 53.2
  "updatable_views" 52.7
  "update" 62.9
  "uuid" 80.7
  "varchar" 94.7
  "window" 52.1
  "with" 49.3
  "without_overlaps" 73.3
  "xid" 38.8
  "xml" 39.2
  "xmlmap" 3.9
 }}
